version: '2'
services:
  app:
    build:
      context: ./
      dockerfile: app.dockerfile
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      - "DB_PORT=3306"
      - "DB_HOST=database"

  web:
    build:
      context: ./
      dockerfile: web.dockerfile
    working_dir: /var/www
    volumes_from:
      - app
    ports:
      - 8080:80

  database:
    image: mysql:5.6
    volumes:
      - dbdata:/var/lib/mysql
    environment:
      - "MYSQL_DATABASE=passwords_db"
      - "MYSQL_USER=passwords_user"
      - "MYSQL_PASSWORD=passwords_secret"
      - "MYSQL_ROOT_PASSWORD=passwords_root_secret"
    ports:
        - "33061:3306"

volumes:
  dbdata:
